/* colors */
$background-primary: #FDA920;
$background-secondary: #F4F4F4;
$color-white: #FFF;
$button-primary: #FEB648;
$color-black: #3B4045;
$placeholder-primary: #B7B7B7;

/*  fonts */
$font-Josefin: 'Josefin Sans', sans-serif;
$font-Lora: 'Lora', serif;
/*$font-Aleo: 'Aleo';*/