.design {
	.design__content {
		padding: 80px; 
		padding-left: 0px;
		h2 {
			font-size: 40px;
			line-height: 50px;
			color: $color-white;
			margin-bottom: 30px;
		}
		p {
			color: $color-white;
		}
	}
}