.footer {
	background: $background-secondary;
	margin-bottom: 20px;
	h2 {
		font-size: 13px;
		line-height: 16px;
		margin-bottom: 20px;
		margin-top: 63px;
		font-weight: 600;
	}
	li {
		display: inline-block;
		font-size: 13px;
		font-weight: bold;
		line-height: 16px;
		list-style: none;
		margin: 0 10px;
		text-transform: uppercase;
	}
	p {
		font-size: 11px;
		line-height: 13px;
	}
}