.contain-to-grid {
	margin-bottom: 122px;
}

.section--hero {
	margin-bottom: 186px;
}

.section--core-features {
	margin-bottom: 92px;
	.core__heading {
		margin-bottom: 62px;
	}
}

.section--design {
	margin-bottom: 77px;
	background: $background-primary;
	padding: 80px;
}

.section--choose {
	.choose__heading {
		margin-bottom: 74px;
	}
}