.contain-to-grid {
	margin-bottom: 122px;
}

.section--hero {
	margin-bottom: 186px;
}

.section--core-features {
	margin-bottom: 92px;
	.core__heading {
		margin-bottom: 62px;
	}
}

.section--design {
	margin-bottom: 77px;
	background: $background-primary;
	padding: 80px;
}

.section--choose {
	margin-bottom: 81px;
	.choose__heading {
		margin-bottom: 74px;
	}
	.choose {
		margin-bottom: 100px;
	}
}

.section--checkout {
	margin-bottom: 109px;
	.checkout__heading {
		margin-bottom: 74px;
	}
}

.section--updates {
	background-image: url('../img/watchBg.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	margin-bottom: 70px;
	.updates__title {
		margin-top: 84px;
		margin-bottom: 12px;
	}
}


.section--reviews {
	margin-bottom: 76px;
	.button {
		margin-top: 75px;
	}
}